    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Raleway, sans-serif;
        background: hsl(229, 57%, 11%);
        background-image: url(./images/bg-desktop.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%, 50%;
        color: hsl(243, 90%, 193%);
        align-items: center;
        justify-content: center;
        font-size: 14px;
        overflow: hidden;
    }
    
    main {
        width: 100%;
        height: 10vh;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        width: auto;
        position: absolute;
        top: 25%;
        left: 15%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .left-box {
        float: left;
        margin: 30px;
        width: 350px;
        height: 200px;
        background-color: hsl(229, 50%, 30%);
        border-radius: 10px 90px 10px 10px;
    }
    
    .left-box .left-logo img {
        padding: 30px 0 0 30px;
    }
    
    .left-box .left-icon {
        margin-top: 20px;
        padding: 0 30px;
        display: inline-block;
    }
    
    .left-box .left-icon img {
        background-color: hsl(229, 57%, 11%);
        border-radius: 5px;
        padding: 10px;
        height: 40px;
        width: 40px;
    }
    
    .right-box {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 10px;
        width: 450px;
        height: 150px;
        background-color: hsl(229, 50%, 30%);
        border-radius: 10px;
    }
    
    .right-box .right-content {
        position: absolute;
    }
    
    .right-box .right-content .right-top {
        margin: 30px;
        width: 390px;
        margin-bottom: 10px;
    }
    
    .right-box .right-content .right-top h3 {
        float: left;
        font-size: 10px;
        font-weight: 200;
        letter-spacing: 1px;
        color: hsl(220, 4%, 84%);
    }
    
    .right-box .right-content .right-top h3 span {
        font-weight: 700;
        opacity: 1;
        color: white;
    }
    
    .right-box .right-content .right-top .gig-display {
        position: absolute;
        background-color: white;
        color: hsl(229, 57%, 11%);
        top: -30px;
        width: 130px;
        height: 50px;
        right: 25px;
        float: right;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
    }
    
    .right-box .right-content .right-top .gig-display span {
        font-size: 10px;
        opacity: 0.7;
    }
    
    .right-box .right-content .right-top .triangle {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-right: 20px solid white;
        border-bottom: 20px solid transparent;
        position: absolute;
        top: -20px;
        right: 25px;
        float: right;
        padding: 10px;
    }
    
    .right-box .right-content .meter-bar {
        width: 390px;
        height: 15px;
        background-color: hsl(230, 35%, 20%);
        position: absolute;
        margin: 25px 30px;
        border-radius: 20px;
    }
    
    .right-box .right-content .meter-bar .guage {
        width: 300px;
        height: 13px;
        margin: 1px;
        background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        position: absolute;
        border-radius: 20px;
    }
    
    .right-box .right-content .meter-bar .guage .dot {
        width: 11px;
        height: 11px;
        margin: 1px;
        background-color: white;
        position: absolute;
        border-radius: 100%;
        right: 1px;
    }
    
    .right-box .right-content .right-bottom {
        position: absolute;
        width: 390px;
        top: 100%;
        margin: 30px;
        font-size: 9px;
        font-weight: 200;
        letter-spacing: 1px;
        color: hsl(220, 4%, 84%);
    }
    
    .right-box .right-content .right-bottom .zero {
        padding: 2px;
        margin-top: 5px;
        float: left;
    }
    
    .right-box .right-content .right-bottom .thousand {
        padding: 2px;
        margin-top: 5px;
        float: right;
        position: absolute;
        right: 1px;
    }
    
    .clear {
        clear: both;
    }
    
    .attribution {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: white;
        align-items: center;
        justify-content: center;
    }
    
    .attribution a {
        text-decoration: none;
        text-align: center;
        color: white;
    }
    
    @media screen and (max-width: 700px) {
        body {
            font-family: Raleway, sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
            color: hsl(243, 90%, 193%);
            align-items: center;
            justify-content: center;
            font-size: 14px;
            overflow: hidden;
            background-image: url(./images/bg-mobile.svg);
        }
        .container {
            display: flex;
            flex-direction: column;
            width: 80% auto;
            position: absolute;
            top: 10%;
            height: 80%;
            justify-content: center;
            align-items: center;
        }
        .left-box {
            float: left;
            margin: 30px;
            width: 400px;
            height: 200px;
            background-color: hsl(229, 50%, 30%);
            border-radius: 10px 90px 10px 10px;
        }
        .right-box {
            float: left;
            margin: 30px;
            width: 400px;
            height: 150px;
            background-color: hsl(229, 50%, 30%);
            border-radius: 10px 10px 10px 10px;
        }
        .right-box .right-content .right-top .gig-display {
            position: absolute;
            background-color: white;
            color: hsl(229, 57%, 11%);
            top: 120px;
            width: 130px;
            height: 50px;
            right: 180px;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
        }
        .right-box .right-content .right-top .gig-display span {
            font-size: 10px;
            opacity: 0.7;
        }
        .right-box .right-content .right-top .triangle {
            display: none;
        }
        .right-box .right-content .meter-bar {
            width: 75%;
        }
        .right-box .right-content .meter-bar .guage {
            width: 80%;
        }
        .right-box .right-content .right-bottom {
            width: 75%;
        }
    }
    
    @media screen and (max-width: 400px) {
        body {
            font-family: Raleway, sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
            color: hsl(243, 90%, 193%);
            align-items: center;
            justify-content: center;
            font-size: 14px;
            overflow: hidden;
            background-image: url(./images/bg-mobile.svg);
        }
        .container {
            display: flex;
            flex-direction: column;
            width: 80%;
            position: absolute;
            top: 10%;
            height: 80%;
            justify-content: center;
            align-items: center;
            margin: 20px;
        }
        .left-box {
            float: left;
            margin: 20px;
            width: 300px;
            height: 200px;
            background-color: hsl(229, 50%, 30%);
            border-radius: 10px 90px 10px 10px;
        }
        .right-box {
            float: left;
            margin: 20px;
            width: 300px;
            height: 150px;
            background-color: hsl(229, 50%, 30%);
            border-radius: 10px 10px 10px 10px;
        }
        .right-box .right-content .right-top .gig-display {
            position: absolute;
            background-color: white;
            color: hsl(229, 57%, 11%);
            top: 120px;
            width: 130px;
            height: 50px;
            right: 180px;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
        }
        .right-box .right-content .right-top .gig-display span {
            font-size: 10px;
            opacity: 0.7;
        }
        .right-box .right-content .right-top .triangle {
            display: none;
        }
        .right-box .right-content .meter-bar {
            width: 75%;
        }
        .right-box .right-content .meter-bar .guage {
            width: 80%;
        }
        .right-box .right-content .right-bottom {
            width: 75%;
        }
    }