* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(85, 84, 156);
    font-size: 10px;
}

body {
    display: grid;
    place-items: center;
}

.chatbot {
    min-width: 80%;
    height: 90vh;
    background: #ffffff;
    border-radius: 10px;
    display: grid;
    grid: 'chat-title' 'message-list''message-form';
}

.chat-title,
.message-form {
    background: hsl(236, 53%, 31%);
}

.chat-title {
    grid-area: chat-title;
    border-radius: 10px 10px 0 0;
    box-shadow: 1px;
    margin: 5px 5px 0 5px;
    height: 10vh;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.profile {
    display: flex;
    margin: 15px 10px;
    align-items: center;
}

.chat-title .profile .profile-pic {
    background: white;
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
    height: 30px;
}

.message-list {
    grid-area: message-list;
    display: flex;
    flex-direction: column-reverse;
    height: 68vh;
    margin: 0 5px 0 5px;
    padding: 0 20px;
    overflow-y: scroll;
}

.message-row {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 70%;
}

.message-content {
    display: grid;
}

.your-message {
    justify-content: end;
}

.your-message .message-content {
    justify-items: end;
}

.other-message {
    justify-content: start;
}

.other-message .message-content {
    justify-items: start;
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
}

.message-text {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time {
    font-size: 1.3rem;
    color: #777777;
}

.your-message .message-text {
    background: #0048aa;
    color: #eeeeee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background: #0048aa;
    color: #eeeeee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 14px 0;
}

.message-form {
    display: grid;
    grid: 51px / 32px 1fr 40px;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: message-form;
    border-radius: 0 0 5px 5px;
    margin: 0 5px 5px 5px;
    height: 10vh;
    padding-right: 22px;
}

.message-form input {
    outline: none;
    padding: 15px;
    border: 2px solid #dddddd;
    color: #333333;
    border-radius: 6px;
    font-size: 1.4rem;
}

.message-form .btn {
    align-items: center;
    width: 30px;
    outline: none;
    padding: 15px;
    border: 2px solid #dddddd;
    color: #333333;
    border-radius: 5px;
    font-size: 1.4rem;
}